---
import Image from "astro/components/Image.astro";
import { teamMembers } from "../../components/Team.astro";

export function getStaticPaths() {
  return teamMembers.map((member) => ({ params: { dancer: member.name } }));
}

const { dancer } = Astro.params;
const member = teamMembers.find((member) => member.name === dancer);
---

<div>
  work in progress
  <h1>Dancer {dancer}</h1>
  {member && <Image src={member.image} alt="alt" />}
</div>
