---
import Layout from "../layouts/Layout.astro";
import alumni1 from "../assets/alumni/alumni-1.jpg";
import alumni2 from "../assets/alumni/alumni-2.jpg";
import alumni3 from "../assets/alumni/alumni-3.png";
import alumni4 from "../assets/alumni/alumni-4.png";
import { Image } from "astro:assets";
---

<Layout title="Alumni Relations">
  <div class="bg-white pt-48 pb-10">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Welcome to the Alumni page
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          The Chevalier program has an amazing history and legacy. We want to
          involve former alumni to help influence and guide the current
          Chevaliers and recognize all the former teammates and coaches who have
          paved the way. Submit your info below so we can contact you! It would
          only be twice a year, for an event during Homecoming week and the
          annual alumni preview!
        </p>
      </div>
      <div class="mt-10 flex">
        <a
          target="_blank"
          href="https://docs.google.com/forms/d/e/1FAIpQLSeaGXRKEN1Sl3kOgmSzL-qpmEP9xKnBMm88UbIZWNoFYDdI3w/viewform?vc=0&c=0&w=1&flr=0"
          class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primaryDark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >Sign Up <span aria-hidden="true">&rarr;</span></a
        >
      </div>
    </div>
  </div>
  <div class="overflow-hidden bg-gray-50 py-32">
    <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
      <div
        class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8"
      >
        <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Alumni Preview
          </h2>
          <p class="mt-6 text-xl leading-8 text-gray-600">
            Thursday, November 16th 2023 at 7:30pm!
          </p>
          <p class="mt-6 text-xl leading-8 text-gray-600">
            Location: Maroon gym (just west of the main gym)
          </p>
          <p class="mt-6 text-base leading-7 text-gray-600">
            Come watch the Chevaliers competition routines, give them some
            advice and feedback and enjoy dessert and reuniting with other Chev
            alumni! All former team members and coaches are welcome!
          </p>
        </div>
        <div
          class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents"
        >
          <div
            class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end"
          >
            <Image
              src={alumni1}
              alt=""
              class="aspect-[7/5] w-[37rem] max-w-none rounded-2xl bg-gray-50 object-cover"
            />
          </div>
          <div
            class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-[37rem] lg:items-start lg:justify-end lg:gap-x-8"
          >
            <div
              class="order-first flex w-64 flex-none justify-end self-end lg:w-auto"
            >
              <Image
                src={alumni3}
                alt=""
                class="aspect-[4/3] w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover"
              />
            </div>
            <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
              <Image
                src={alumni2}
                alt=""
                class="aspect-[7/5] w-[37rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover"
              />
            </div>
            <div
              class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none"
            >
              <Image
                src={alumni4}
                alt=""
                class="aspect-[4/3] w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
