---
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alumni Relations">
  <h1 class="pt-32">Alumni information coming soon</h1>
</Layout>
