---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Auditions">
  <Navbar />
  <main>
    <h1 class="pt-20">Auditions</h1>
    <p>Coming soon!</p>
  </main>
</Layout>
