---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Events Page">
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <p
          class="mt-2 text-3xl font-bold tracking-tight text-primary sm:text-4xl"
        >
          Upcoming Events
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Join us for the exciting events we have lined up. We have a variety of
          competitions, showcases, and clinics, and we can't wait to see you
          there!
        </p>
      </div>

      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl
          class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
        >
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-gray-900">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary"
              >
                <svg
                  class="h-6 w-6 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                </svg>
              </div>
               Sir Knight
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              October 11th at 7pm in the LP Auditorium. A tradition by the Lone
              Peak Drill Team showcasing fitness routine, talents, and on-stage
              question-answer sessions. Awards like Talent winner, Sophomore Sir
              Knight, and others will be presented.
            </dd>
          </div>

          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-gray-900">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary"
              >
                <svg
                  class="h-6 w-6 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                </svg>
              </div>
               Competition Showcase
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              November 8th at 7:30pm in the Field House. Chevaliers will
              showcase their competition routines in costume. Guest judges will
              provide live feedback to prepare for competition season!
            </dd>
          </div>

          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-gray-900">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary"
              >
                <svg
                  class="h-6 w-6 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                </svg>
              </div>
               Mini Chevalier Clinic:
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">Info TBD</dd>
          </div>

          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-gray-900">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary"
              >
                <svg
                  class="h-6 w-6 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                </svg>
              </div>
               Auditions
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              We hold auditions for various roles and events. Stay tuned for
              more information on upcoming auditions!
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</Layout>
