---
import Hero from "../components/Hero.astro";
import Coaches from "../components/Coaches.astro";
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Countdown from "../components/Countdown.astro";
---

<Layout title="Lone Peak Drill Team">
  <Hero />
  <div id="search"></div>
  <script>
    window.addEventListener("DOMContentLoaded", (event) => {
      // @ts-ignore
      new PagefindUI({ element: "#search", showSubResults: true });
    });
  </script>
  <About />
  <Coaches />
</Layout>
