---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Parent Portal">
  <div
    class="flex min-h-full flex-col justify-center px-6 py-20 lg:px-8"
    id="submitButtonContainer"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >
        Sign in to the Parent Portal
      </h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" method="POST" id="passwordForm">
        <div id="passwordPrompt">
          <div class="mt-2">
            <input
              id="passwordInput"
              name="password"
              type="password"
              required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
              placeholder="Enter password"
            />
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-primaryDark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
            id="submitButton">Sign in</button
          >
        </div>
      </form>
    </div>
  </div>
  <div id="protectedContent" class="mt-32 text-center px-10 hidden">
    <div class="sm:hidden">
      <label for="tabs" class="sr-only">Select a tab</label>
      <select
        id="tabs"
        name="tabs"
        class="block w-full rounded-md border-gray-300 focus:border-primary focus:ring-primary"
      >
        <option id="calendars" value="calendars" selected>Calendars</option>
        <option id="fee" value="fee">Fee Due Dates</option>
        <option id="nationals" value="nationals">Nationals</option>
        <option id="directory" value="directory">Drill Family Directory</option>
        <option id="schedule" value="schedule"
          >Summer Schedule for 2024-2025 team</option
        >
        <option id="register" value="register">Register My Athlete</option>
      </select>
    </div>
    <div class="hidden sm:block">
      <nav
        class="isolate flex divide-x divide-gray-200 rounded-lg shadow"
        aria-label="Tabs"
      >
        <a
          href="#"
          class="tab text-gray-500 bg-white group relative min-w-0 flex-1 overflow-hidden py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10"
        >
          <span>Calendars</span>
          <span
            aria-hidden="true"
            class="bg-primary absolute inset-x-0 bottom-0 h-0.5"></span>
        </a>
        <a
          href="#"
          class="tab text-gray-500 bg-white group relative min-w-0 flex-1 overflow-hidden py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10"
        >
          <span>Fee Due Dates</span>
          <span
            aria-hidden="true"
            class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
        </a>
        <a
          href="#"
          class="tab text-gray-500 bg-white group relative min-w-0 flex-1 overflow-hidden py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10"
        >
          <span>Nationals</span>
          <span
            aria-hidden="true"
            class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
        </a>
        <a
          href="#"
          class="tab text-gray-500 bg-white rounded-r-lg group relative min-w-0 flex-1 overflow-hidden py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10"
        >
          <span>Drill Family Directory</span>
          <span
            aria-hidden="true"
            class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
        </a>
        <a
          href="#"
          class="tab text-gray-500 bg-white rounded-r-lg group relative min-w-0 flex-1 overflow-hidden py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10"
        >
          <span>Summer Schedule for 2024-2025 team</span>
          <span
            aria-hidden="true"
            class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
        </a>
        <a
          href="#"
          class="tab text-gray-500 bg-white rounded-r-lg group relative min-w-0 flex-1 overflow-hidden py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10"
        >
          <span>Register My Athlete</span>
          <span
            aria-hidden="true"
            class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
        </a>
      </nav>
    </div>
    <div class="pt-5">
      <div id="calendars" class="tab-content">Calendars content goes here.</div>
      <div id="fee" class="tab-content hidden">
        Fee Due Dates content goes here.
      </div>
      <div id="nationals" class="tab-content hidden">
        Nationals content goes here.
      </div>
      <div id="directory" class="tab-content hidden">
        <ul
          role="list"
          class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
          <li
            class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow"
          >
            <div class="flex flex-1 flex-col p-8">
              <img
                class="mx-auto h-48 w-48 flex-shrink-0 rounded-lg"
                src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60"
                alt=""
              />
              <h3 class="mt-6 text-sm font-medium text-gray-900">
                Jane Cooper
              </h3>
              <dl class="mt-1 flex flex-grow flex-col justify-between">
                <dt class="sr-only">Title</dt>
                <dd class="text-sm text-gray-500">Paradigm Representative</dd>
                <dt class="sr-only">Role</dt>
                <dd class="mt-3">
                  <span
                    class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20"
                    >Admin</span
                  >
                </dd>
              </dl>
            </div>
            <div>
              <div class="-mt-px flex divide-x divide-gray-200">
                <div class="flex w-0 flex-1">
                  <a
                    href="mailto:janecooper@example.com"
                    class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900"
                  >
                    <svg
                      class="h-5 w-5 text-gray-400"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.162V6a2 2 0 00-2-2H3z"
                      ></path>
                      <path
                        d="M19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002 2h14a2 2 0 002-2V8.839z"
                      ></path>
                    </svg>
                     Email
                  </a>
                </div>
                <div class="-ml-px flex w-0 flex-1">
                  <a
                    href="tel:+1-202-555-0170"
                    class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-gray-900"
                  >
                    <svg
                      class="h-5 w-5 text-gray-400"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                     Call
                  </a>
                </div>
              </div>
            </div>
          </li>

          <!-- More people... -->
        </ul>
      </div>
      <div id="schedule" class="tab-content hidden">
        Summer Schedule for 2024-2025 team content goes here.
      </div>
      <div id="register" class="tab-content hidden">
        Register My Athlete content goes here.
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("astro:after-swap", () => {
      console.log("astro:after-swap is triggered");
      setupListeners();
    });

    const correctPassword = "1234";
    const form = document.getElementById("passwordForm");
    if (form) {
      form.removeEventListener("submit", checkPassword); // remove existing listener to avoid duplicates
      form.addEventListener("submit", checkPassword);
    }
    function checkPassword(event: Event) {
      event.preventDefault();
      console.log("checkPassword is triggered");

      const inputElement = document.getElementById("passwordInput");
      const inputPassword = (inputElement as HTMLInputElement).value;
      if (inputPassword === correctPassword) {
        const passwordPrompt = document.getElementById("passwordPrompt");
        const protectedContent = document.getElementById("protectedContent");
        const submitButtonContainer = document.getElementById(
          "submitButtonContainer"
        );
        if (passwordPrompt && protectedContent && submitButtonContainer) {
          passwordPrompt.style.display = "none";
          protectedContent.style.display = "block";
          submitButtonContainer.style.display = "none";
        }
      } else {
        alert("Incorrect password. Please try again.");
      }
    }
    const tabs = document.querySelectorAll(".tab");
    const contents = document.querySelectorAll(".tab-content");
    tabs.forEach((tab, index) => {
      tab.removeEventListener("click", tabClick); // remove existing listener to avoid duplicates
      tab.addEventListener("click", tabClick);

      function tabClick() {
        tabs.forEach((t) => t.classList.remove("text-gray-900", "bg-white"));
        tabs.forEach((t) => t.children[1].classList.remove("bg-primary"));
        tabs.forEach((t) => t.children[1].classList.add("bg-transparent"));
        contents.forEach((c) => c.classList.add("hidden"));
        tab.classList.add("text-gray-900", "bg-white");
        tab.children[1].classList.remove("bg-transparent");
        tab.children[1].classList.add("bg-primary");
        contents[index].classList.remove("hidden");
      }
    });

    const selectElement = document.getElementById("tabs");
    if (selectElement) {
      selectElement.removeEventListener("change", selectChange); // remove existing listener to avoid duplicates
      selectElement.addEventListener("change", selectChange);

      function selectChange(event) {
        const selectedValue = (event?.target as HTMLSelectElement)?.value;
        contents.forEach((content) => {
          if (content.id === selectedValue) {
            content.classList.remove("hidden");
          } else {
            content.classList.add("hidden");
          }
        });
      }
    }
  </script>
</Layout>
