<div class="bg-white py-10">
  <div>
    <div class="mx-auto max-w-2xl lg:text-center">
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-primary sm:text-4xl"
      >
        Auditions
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none mb-20">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-4"
      >
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-2xl font-semibold leading-7 text-primary"
          >
            Open Gyn Sessions
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto font-bold">
              March 5, 6, 12, 13 at 7:00pm<br />
              Maroon Gym<br />
              Optional technique training for prospective drill team members. Opent
              to 7th-12th Graders. $20/each or $75
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-2xl text-primary font-semibold leading-7"
          >
            Mandatory Parent Meeting
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto font-bold">
              March 11th 7:00pm<br />
              Lone Peak Little Theater<br />
              * Please note this meeting is mandatory for anyone who is auditioning
              for the team. We highly encourage the parent AND dancer to attend.
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-2xl font-semibold leading-7 text-primary"
          >
            Drill Audition Clinic
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto font-bold">
              March 18th 6:00-9:00pm<br />
              Check in at 5:30pm <br /> Maroon Gym<br />
              Learn the audition combos. <br />
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-2xl font-semibold leading-7 text-primary"
          >
            Drill Auditions
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto font-bold">
              March 19th 6:00pm<br />
              Maroon Gym<br />
              * Please note there will be a $10 audition fee.
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
