<div class="container mx-auto">
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2">
      <div class="p-6 h-full rounded-md border border-gray-300 bg-gray-100">
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            Premier Drill Classic at UVU
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto font-bold">
              Solo Competition - Friday, December 6th, 2024
            </p>
            <p class="mt-2">
              <a
                target="_blank"
                href="https://form.jotform.com/61577363825161"
                class="text-sm font-semibold leading-6 text-primary"
              >
                Register for solos <span aria-hidden="true">→</span>
              </a>
            </p>
            <p class="flex-auto font-bold mt-4">
              Team Competition - Saturday, December 7th, 2024
            </p>
            <p class="mt-3">
              Competition schedule and ticket information will be posted when
              available.
            </p>
          </dd>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2">
      <div
        class="bg-gray-100 p-6 h-full rounded-md border border-gray-300 md:border"
      >
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            SUU Thunderbird Invitational
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto font-bold">
              Solo Competition - Friday, December 13th, 2024
            </p>
            <p class="mt-2">
              <a
                target="_blank"
                href="https://event.racereach.com/usg-drill-invite-solo/register?mark=001&app=index&xs=1727963262&context=1727962017&gcm=msite"
                class="text-sm font-semibold leading-6 text-primary"
              >
                Register for solos <span aria-hidden="true">→</span>
              </a>
            </p>
            <p class="flex-auto font-bold mt-4">
              Team Competition - Saturday, December 14th, 2024
            </p>
            <p class="mt-3">
              Competition schedule and ticket information will be posted when
              available.
            </p>
          </dd>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2">
      <div class="bg-gray-100 p-6 h-full rounded-md border border-gray-300">
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            Rocky Mountain Drill Invitational
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto font-bold">
              Solo Competition - Friday, January 10th, 2025
            </p>
            <p class="mt-2">
              <a
                target="_blank"
                href="https://docs.google.com/forms/d/e/1FAIpQLSdg_nEARQ7VNDnx_NTsNAz5D5-68URyGhwVW1-LJ0Cq4ELS8g/viewform"
                class="text-sm font-semibold leading-6 text-primary"
              >
                Register for solos <span aria-hidden="true">→</span>
              </a>
            </p>
            <p class="flex-auto font-bold mt-4">
              Team Competition - Saturday, January 11th, 2025
            </p>
            <p class="mt-3">
              Competition schedule and ticket information will be posted when
              available.
            </p>
          </dd>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2">
      <div class="bg-gray-100 p-6 h-full rounded-md border-gray-300 border">
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            Region
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto font-bold">
              Thursday, January 16th, 2025 at 6:00 PM
            </p>
            <p class="flex-auto">Location: Lehi High School</p>
            <p class="flex-auto mt-3">
              Ticket information will be available closer to the event date.
            </p>
          </dd>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2">
      <div class="bg-gray-100 p-6 h-full rounded-md border-gray-300 border">
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            State Championships
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">
              <b>Quarterfinals:</b> Monday, January 27th, 2025 at UVU
            </p>
            <p class="flex-auto">
              <b>Semifinals:</b> Tuesday, January 28th, 2025 at UVU
            </p>
            <p class="flex-auto">
              <b>Finals:</b> Saturday, February 1st, 2025 at UVU
            </p>
            <p class="mt-3">
              More details including schedule and ticket information will be
              announced closer to the events.
            </p>
          </dd>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2">
      <div class="bg-gray-100 p-6 h-full rounded-md border border-gray-300">
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            Nationals
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto font-bold">February 11-17, 2025</p>
            <p class="flex-auto">Location: Orlando, Florida</p>
            <p class="flex-auto mt-3">Dance Team Union Nationals</p>
            <p class="mt-3">
              Additional information including schedule and competition details
              will be provided closer to the event.
            </p>
          </dd>
        </div>
      </div>
    </div>
  </div>
</div>
