---

---

<div class="container mx-auto">
  <div class="flex flex-wrap">
    <!-- Feature 1 -->
    <div class="w-full md:w-1/2">
      <div class="p-6 h-full rounded-md border border-gray-300 bg-gray-100">
        <div class="mb-4">
          <!-- Icon placeholder -->
          <!-- Replace with actual icon -->
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            Mustang Classic at Herriman High School
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <!-- Solo Competition Section -->
            <p class="flex-auto font-bold">
              Solo Competition - Friday, Dec 1st
            </p>
            <ul class="pl-6 list-disc">
              <li>Cate Arnold - 4:30pm</li>
              <li>Marina Allen - 9:15pm</li>
              <li>Kaitlyn Sonntag - 10:30pm</li>
              <li>Awards - 10:40pm</li>
            </ul>

            <!-- Team Competition Section -->
            <p class="flex-auto font-bold">
              Team Competition - Saturday, Dec 2nd
            </p>
            <ul class="pl-6 list-disc">
              <li>Military - 11:20am</li>
              <li>Dance - 1:50pm</li>
              <li>Show - 3:25pm</li>
              <li>Drill Down & Awards - 3:50pm</li>
            </ul>

            <!-- Registration Link -->
            <p class="mt-6">
              <a
                target="_blank"
                href="https://jordansdut.schoolwindow.com/estore/hhs/dmc/hmdcsolo.html"
                class="text-sm font-semibold leading-6 text-primary"
              >
                Register for Mustang Classic <span aria-hidden="true">→</span>
              </a>
              <p
                class="mt-3 flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
              >
                Admission for Friday and Saturday will be $10 per person with 5
                and under free. All tickets sales and admission will be done at
                the doors the day of.
              </p>
            </p>
          </dd>
        </div>
      </div>
    </div>

    <!-- Feature 2 -->
    <div class="w-full md:w-1/2">
      <div
        class="bg-gray-100 p-6 h-full rounded-md border border-gray-300 md:border"
      >
        <div class="mb-4">
          <!-- Icon placeholder -->
          <!-- Replace with actual icon -->
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            Showcase at UVU at the UCCU Center
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">Solo competition - Friday, Dec 15th</p>
            <p class="flex-auto my-3">Team competition - Saturday, Dec 16th</p>
            <p class="flex-auto">
              MUSIC: Soloists, email your music to <span class="text-accent"
                >showcaseuvu@gmail.com</span
              > & label it with your school name and category.
            </p>
            <p class="mt-6">
              <a
                target="_blank"
                href="http://tinyurl.com/showcaseuvusolo"
                class="text-sm font-semibold leading-6 text-primary"
                >Register for UVU Showcase <span aria-hidden="true">→</span></a
              >
            </p>
          </dd>
        </div>
      </div>
    </div>

    <!-- Feature 3 -->
    <div class="w-full md:w-1/2">
      <div class="bg-gray-100 p-6 h-full rounded-md border border-gray-300">
        <div class="mb-4">
          <!-- Icon placeholder -->
          <!-- Replace with actual icon -->
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            Bountiful Invitational at Bountiful High School
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">Solo competition - Friday, Jan 5th</p>
            <p class="flex-auto">Team competition - Saturday, Jan 6th</p>
            <p class="flex-auto">More detailed team info to come….</p>
            <p class="mt-6">
              <a
                target="_blank"
                href="https://docs.google.com/forms/d/e/1FAIpQLSd8TwWjjCe37VBfkwAacob3L2gRW11tNp1_SE-AJkXyiWypAw/viewform"
                class="text-sm font-semibold leading-6 text-primary"
                >Register for Bountiful Invitational <span aria-hidden="true"
                  >→</span
                ></a
              >
            </p>
            <p class="mt-6">
              <a
                target="_blank"
                href="https://dsdgive.net/event/3483"
                class="text-sm font-semibold leading-6 text-primary"
                >Bountiful Invitational payment link <span aria-hidden="true"
                  >→</span
                ></a
              >
            </p>
          </dd>
        </div>
      </div>
    </div>

    <!-- Feature 4 -->
    <div class="w-full md:w-1/2">
      <div class="bg-gray-100 p-6 h-full rounded-md border-gray-300 border">
        <div class="mb-4">
          <!-- Icon placeholder -->
          <!-- Replace with actual icon -->
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            Region
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">
              <b>Wednesday, January 17th 4:00pm</b> at American Fork High School
            </p>
            <p class="flex-auto mt-5">
              Each school will be allowed to sell up to 160 pre-sold tickets.
              Link to those ticket sales will be sent out January 8th. General
              Admission will be sold the day of the event and will be first
              come, first serve. They WILL sell out.
            </p>
          </dd>
        </div>
      </div>
    </div>

    <!-- Feature 5 -->
    <div class="w-full md:w-1/2">
      <div class="bg-gray-100 p-6 h-full rounded-md border-gray-300 md:border">
        <div class="mb-4">
          <!-- Icon placeholder -->
          <!-- Replace with actual icon -->
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            State Quarter-Finals
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">January 30th at UVU</p>
            <p class="flex-auto">More info to come...</p>
          </dd>
        </div>
      </div>
    </div>

    <!-- Feature 6 -->
    <div class="w-full md:w-1/2">
      <div class="bg-gray-100 p-6 h-full rounded-md border border-gray-300">
        <div class="mb-4">
          <!-- Icon placeholder -->
          <!-- Replace with actual icon -->
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            State Semi-Finals
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">February 1st at UVU</p>
            <p class="flex-auto">More info to come...</p>
          </dd>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <div class="bg-gray-100 p-6 h-full rounded-md border border-gray-300">
        <div class="mb-4">
          <!-- Icon placeholder -->
          <!-- Replace with actual icon -->
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            State Finals
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">February 2nd at UVU</p>
            <p class="flex-auto">More info to come...</p>
          </dd>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <div class="bg-gray-100 p-6 h-full rounded-md border border-gray-300">
        <div class="mb-4">
          <!-- Icon placeholder -->
          <!-- Replace with actual icon -->
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            Nationals
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">February 8-11th in Orlando, FL</p>
            <p class="flex-auto">More info to come...</p>
          </dd>
        </div>
      </div>
    </div>
  </div>
</div>
