<div class="bg-white py-4 sm:py-8">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Everything you need to know about upcoming competitions
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
      >
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            Mustang Classic at Herriman High School
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">Solo Competition - Friday, Dec 1st</p>
            <p class="flex-auto">Team Competition - Saturday, Dec 2nd</p>
            <p class="mt-6">
              <a
                target="_blank"
                href="https://jordansdut.schoolwindow.com/estore/hhs/dmc/hmdcsolo.html"
                class="text-sm font-semibold leading-6 text-primary"
                >Register for Mustang Classic <span aria-hidden="true">→</span
                ></a
              >
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            Showcase at UVU at the UCCU Center
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">Solo competition - Friday, Dec 15th</p>
            <p class="flex-auto my-3">Team competition - Saturday, Dec 16th</p>
            <p class="flex-auto">
              MUSIC: Soloists, email your music to <span class="text-accent"
                >showcaseuvu@gmail.com</span
              > & label it with your school name and category.
            </p>
            <p class="mt-6">
              <a
                target="_blank"
                href="http://tinyurl.com/showcaseuvusolo"
                class="text-sm font-semibold leading-6 text-primary"
                >Register for UVU Showcase <span aria-hidden="true">→</span></a
              >
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            Bountiful Invitational at Bountiful High School
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">Solo competition - Friday, Jan 5th</p>
            <p class="flex-auto">Team competition - Saturday, Jan 6th</p>
            <p class="flex-auto">More detailed team info to come….</p>
            <p class="mt-6">
              <a
                target="_blank"
                href="https://docs.google.com/forms/d/e/1FAIpQLSd8TwWjjCe37VBfkwAacob3L2gRW11tNp1_SE-AJkXyiWypAw/viewform"
                class="text-sm font-semibold leading-6 text-primary"
                >Register for Bountiful Invitational <span aria-hidden="true"
                  >→</span
                ></a
              >
            </p>
            <p class="mt-6">
              <a
                target="_blank"
                href="https://dsdgive.net/event/3483"
                class="text-sm font-semibold leading-6 text-primary"
                >Bountiful Invitational payement link <span aria-hidden="true"
                  >→</span
                ></a
              >
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            Region
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">
              Wednesday, January 17th at American Fork High School
            </p>
            <p class="flex-auto">More info to come...</p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            State Quarter-Finals
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">January 30th at UVU</p>
            <p class="flex-auto">More info to come...</p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            State Semi-Finals
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">February 1st at UVU</p>
            <p class="flex-auto">More info to come...</p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            State Finals
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">February 2nd at UVU</p>
            <p class="flex-auto">More info to come...</p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
          >
            Nationals
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto">February 8-11th in Orlando, FL</p>
            <p class="flex-auto">More info to come...</p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
