---
import { Image } from "astro:assets";
import LPDrill from "../assets/lp-drill-23.jpg";
import logo from "../assets/logo.svg";
---

<div>
  <header class="absolute inset-x-0 top-0 z-50">
    <nav
      class="flex items-center justify-between p-6 lg:px-8"
      aria-label="Global"
    >
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <Image class="h-20 w-auto text-primary" src={logo} alt="" />
        </a>
      </div>
      <div class="flex lg:hidden">
        <button
          id="menuToggle"
          type="button"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="Team" class="text-sm font-semibold leading-6 text-black"
          >About</a
        >
        <a href="Events" class="text-sm font-semibold leading-6 text-black"
          >Events</a
        >
        <a href="Auditions" class="text-sm font-semibold leading-6 text-black"
          >Auditions</a
        >
        <a href="Donate" class="text-sm font-semibold leading-6 text-black"
          >Donate</a
        >
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a
          href="/ParentPortal"
          class="text-sm font-semibold leading-6 text-black"
          >Parent Portal <span aria-hidden="true">&rarr;</span></a
        >
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div
      id="mobileMenu"
      class="hidden lg:hidden"
      role="dialog"
      aria-modal="true"
    >
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div id="menuBackdrop" class="fixed inset-0 z-50"></div>
      <div
        class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-black px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10"
      >
        <!-- Close button -->

        <div class="flex justify-end">
          <button id="closeMenu" class="p-1 text-gray-400 hover:text-gray-500">
            <span class="sr-only">Close menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/25">
            <div class="space-y-2 py-6">
              <a
                href="Team"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800"
                >About</a
              >
              <a
                href="Events"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800"
                >Events</a
              >
              <a
                href="Auditions"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800"
                >Auditions</a
              >
              <a
                href="Donate"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800"
                >Donate</a
              >
            </div>
            <div class="py-6">
              <a
                href="ParentPortal"
                class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-gray-800"
                >Parent Portal</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="relative isolate overflow-hidden pt-14">
    <Image
      src={LPDrill}
      alt="lp drill team"
      class="absolute inset-0 -z-10 h-full w-full object-cover"
      loading="eager"
    />
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
    </div>
    <div class="mx-auto max-w-2xl h-screen py-5">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center"></div>
      <div class="text-center">
        <h1
          class="text-4xl font-bold tracking-tight text-black sm:text-6xl pt-20"
        >
          Lone Peak Drill Team 2023 - 2024
        </h1>
        <p class="mt-6 text-lg leading-8 text-black"></p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            href="Team"
            class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primaryDark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400"
            >Meet the team</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuButton = document.getElementById("menuToggle");
    const closeMenuButton = document.getElementById("closeMenu");
    const mobileMenu = document.getElementById("mobileMenu");

    menuButton?.addEventListener("click", toggleMenu);
    closeMenuButton?.addEventListener("click", toggleMenu);

    function toggleMenu() {
      if (mobileMenu?.classList.contains("hidden")) {
        mobileMenu.classList.remove("hidden");
      } else {
        mobileMenu?.classList.add("hidden");
      }
    }
  });
</script>
