---
import { Image } from "astro:assets";
import LPDrill from "../assets/lp-drill-23.jpg";
import LPComp from "../assets/LP-comp.jpg";
import LPWeb from "../assets/LP-web.jpg";
---

<div class="relative isolate overflow-hidden pt-14">
  <img
    src={LPComp.src}
    alt="lp drill team"
    class="absolute inset-0 -z-10 h-full w-full object-cover"
    loading="eager"
  />
  <div
    class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
    aria-hidden="true"
  >
  </div>
  <div class="mx-auto max-w-2xl h-screen py-5">
    <div class="hidden sm:mb-8 sm:flex sm:justify-center"></div>
    <div class="text-center">
      <h1
        class="text-4xl font-bold tracking-tight text-black sm:text-6xl pt-20"
      >
        Lone Peak Drill Team 2023 - 2024
      </h1>
      <p class="mt-6 text-lg leading-8 text-black"></p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="Team"
          class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primaryDark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400"
          >Meet the team</a
        >
      </div>
    </div>
  </div>
</div>
