<div class="bg-white py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-primary sm:text-4xl"
      >
        Auditions
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none mb-20">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-4"
      >
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-2xl text-primaryDark font-semibold leading-7 t"
          >
            Mandatory Parent Meeting
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto font-bold">
              March 13th @ 7pm<br />
               Lone Peak High School - Little Theater
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-2xl font-semibold leading-7 text-primaryDark"
          >
            Drill Audition Clinic
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto font-bold">
              March 20th @ 7pm<br />
               Lone Peak High School - Maroon Gym
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-2xl font-semibold leading-7 text-primaryDark"
          >
            Drill Auditions
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto font-bold">
              March 21st @ 7pm<br />
               Lone Peak High School - Maroon Gym
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="flex items-center gap-x-3 text-2xl font-semibold leading-7 text-primaryDark"
          >
            New Team Meeting
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
          >
            <p class="flex-auto font-bold">
              March 28th<br />
               Time and location TBD
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
