<div class="mx-auto my-8 max-w-7xl px-6 lg:px-8">
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4"
  >
    <div>
      <time
        datetime="2021-08"
        class="flex items-center text-lg font-semibold leading-6 text-primary"
      >
        <svg
          viewBox="0 0 4 4"
          class="mr-4 h-1 w-1 flex-none"
          aria-hidden="true"
        >
          <circle cx="2" cy="2" r="2" fill="currentColor"></circle>
        </svg>
         October, 10 2023
        <div
          class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
          aria-hidden="true"
        >
        </div>
      </time>
      <p
        class="mt-6 text-2xl font-semibold leading-8 tracking-tight text-gray-900"
      >
        Payment 1
      </p>
      <p class="mt-1 leading-7 text-gray-600 text-2xl">Amount due: $400</p>
    </div>
    <div>
      <time
        datetime="2021-12"
        class="flex items-center text-lg font-semibold leading-6 text-primary"
      >
        <svg
          viewBox="0 0 4 4"
          class="mr-4 h-1 w-1 flex-none"
          aria-hidden="true"
        >
          <circle cx="2" cy="2" r="2" fill="currentColor"></circle>
        </svg>
         November, 10 2023
        <div
          class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
          aria-hidden="true"
        >
        </div>
      </time>
      <p
        class="mt-6 text-2xl font-semibold leading-8 tracking-tight text-gray-900"
      >
        Payment 2
      </p>
      <p class="mt-1 leading-7 text-gray-600 text-2xl">Amount due: $300</p>
    </div>
    <div>
      <time
        datetime="2022-02"
        class="flex items-center text-lg font-semibold leading-6 text-primary"
      >
        <svg
          viewBox="0 0 4 4"
          class="mr-4 h-1 w-1 flex-none"
          aria-hidden="true"
        >
          <circle cx="2" cy="2" r="2" fill="currentColor"></circle>
        </svg>
         December, 10 2023
        <div
          class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
          aria-hidden="true"
        >
        </div>
      </time>
      <p
        class="mt-6 text-2xl font-semibold leading-8 tracking-tight text-gray-900"
      >
        Payment 3
      </p>
      <p class="mt-1 leading-7 text-gray-600 text-2xl">Amount due: $400</p>
    </div>
    <div>
      <time
        datetime="2022-12"
        class="flex items-center text-lg font-semibold leading-6 text-primary"
      >
        <svg
          viewBox="0 0 4 4"
          class="mr-4 h-1 w-1 flex-none"
          aria-hidden="true"
        >
          <circle cx="2" cy="2" r="2" fill="currentColor"></circle>
        </svg>
         January, 10, 2024
        <div
          class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
          aria-hidden="true"
        >
        </div>
      </time>
      <p
        class="mt-6 text-2xl font-semibold leading-8 tracking-tight text-gray-900"
      >
        Payment 4
      </p>
      <p class="mt-1 leading-7 text-2xl text-gray-600">Amount due: $150</p>
    </div>
  </div>
</div>
