<div class="bg-white pt-10">
  <div class="py-10 xl:mx-auto xl:max-w-7xl xl:px-8">
    <div class="mt-4 flow-root">
      <div class="-my-2">
        <div
          class="relative box-content h-80 overflow-x-auto py-2 xl:overflow-visible"
        >
          <div
            class="absolute flex space-x-8 px-4 sm:px-6 lg:px-8 xl:relative xl:grid xl:grid-cols-5 xl:gap-x-8 xl:space-x-0 xl:px-0"
          >
            <slot />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
