---
import { Image } from "astro:assets";

interface Props {
  ImageSrc: ImageMetadata;
  ImageAlt: string;
}

const { ImageSrc, ImageAlt } = Astro.props;
---

<div class="group relative w-72 flex-shrink-0 xl:w-full">
  <div class="relative aspect-square w-full overflow-hidden rounded-lg">
    <Image
      loading="lazy"
      decoding="async"
      src={ImageSrc}
      alt={ImageAlt}
      class="h-full w-full object-cover object-center"
      width={288}
      height={288}
    />
  </div>
</div>
