---
import { Image } from "astro:assets";

interface Props {
  ImageSrc: ImageMetadata;
  ImageAlt: string;
}

const { ImageSrc, ImageAlt } = Astro.props;
---

<div
  class="relative flex h-80 w-56 flex-col overflow-hidden rounded-lg p-6 xl:w-auto"
>
  <span aria-hidden="true" class="absolute inset-0">
    <Image
      quality={"low"}
      loading={"lazy"}
      src={ImageSrc}
      alt={ImageAlt}
      class="h-full w-full object-cover object-center"
    />
  </span>
  <span
    aria-hidden="true"
    class="absolute inset-x-0 bottom-0 h-2/3 bg-gradient-to-t from-gray-800 opacity-50"
  ></span>
</div>
