---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";

import TeamPhoto from "../assets/team-portrait.webp";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js" is:inline></script>
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.jpg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Lone Peak Drill Team" />
    <meta
      property="og:description"
      content="Keep up to date with the Lone Peak Drill Team!"
    />
    <meta property="og:image" content={TeamPhoto.src} />
    <meta property="og:url" content="https://www.lonepeakdrillteam.com" />
    <meta property="og:type" content="website" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="flex flex-col">
    <Navbar />
    <div id="search"></div>
    <script>
      window.addEventListener("DOMContentLoaded", (event) => {
        //@ts-ignore
        new PagefindUI({ element: "#search", showSubResults: true });
      });
    </script>

    <div class="flex-grow">
      <slot />
    </div>
    <Footer />
    <style is:global>
      :root {
        --accent: 246, 245, 245;
        --accent-light: 230, 230, 230;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background: #ffffff;
        background-size: 224px;
      }
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      .flex-grow {
        flex-grow: 1;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
